*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
header{
    position: fixed;
    top: 0;
    width: 100%;
    height: 70px;
    z-index: 10;
}
#logoCaisse{
    height: 2.5em ;
}
a{
    text-decoration: none;
    color: #000000be;
}

input{
    border: none;
    border-bottom: solid black 1px;
    height: 35px;
}
#main{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
#mainIndex{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#pageContent{
    padding: 90px 0px;
    background: url(images/bg.png) center center / cover no-repeat fixed;
    height: 100vh;
    max-width: 100vw;
    display: flex;
    align-items: center; 
}
.navbar div .navbar-brand{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', sans-serif;
    font-style: italic;
}
/* menu d'en-tête */
#lightMode{
    width: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: blue;
    color: white;
    border-radius: 15px 0 0 15px;
}
#darkMode{
    width: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #e4dfd7e5;
    border-radius:0 15px 15px 0;
}
#pamaeter{
    width: 40px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#form {
    background-color: white;
    border-radius: 10px;
    margin-top: 30px;
}
#form.personel{
    padding: 20px;
}
#listBtn{
    display: grid;
    grid-template-columns: 1fr 160px 1fr;
}
#listBtn #twoFirst{
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2px;
    gap: 2px
    ;
    border-radius: 5px;

}
.card{
    width: 70%;
}
#menuToggle{
    width: 60px;
    background-color: rgba(0, 191, 255, 0.864);
    border-radius: 3px;
}
#menuToggle:hover{
    background-color: #1f16cb7e;
    border-radius: 3px;
}
#mainNav{
    margin: 0;
    padding: 0;
    position: absolute;
    top: 60px;
    background-color: #f7f4f4;
    border-radius: 5px;
    right: 0;
    display: none;
    z-index: 10;
}
#sideBar{
    padding: 20px;
    gap: 20px;
    list-style: none;
    position: fixed;
    top: 60px;
    left:0;
    width: 150px;
    height: calc(100% - 70px);
}

#sideBar a{
    display: flex;
    gap: 10px;
}
.circle{
    width: 100%;
}
#logoPrjct{
    width: 40px;
    height: 40px;
}
span{
    font-size: large;
}
nav{
    z-index: 1000 !important;
}
/* page de Contenu admin */
#adminContainer{
    padding: 70px 0  0 150px ;
    min-height: max-content; 
}
#contenu{
    min-height: 100vh;
}
header, #sideBar{
    background-color: white;
}
.w-100{
    padding: 20px;
}

#register, #login{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #ffffff;
    border-radius: 5px;
    width: 50%;
    height: 100vh;
}

#category{
    border: none;
    margin: 0;
    background-color: transparent;
    border-bottom: solid black 1px;
    border-radius: 0;
    margin-bottom: 10px;
}
#deconnect{
    border: none;
    border-radius: 5px;
}
#grpBtn{
    display: flex;
    justify-content: end;
}
#nameAndFirstName{
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(2, 1fr);
}
#imgProfil{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    height: 2.5em;
}

/* Conteneur du champ */
.file-input-wrapper {
    position: relative;
    display: inline-block;
}

/* Bouton personnalisé rond avec icône */
.file-input-button {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: #b5b8bb;
    border: none;
    color: white;
    font-size: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
.file-input {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    cursor: pointer;
}

/* Icône de caméra */
.file-input-button i {
    font-size: 30px;
    color: #333;
    cursor: pointer;
}

/* Texte sous le bouton */
.file-text {
    margin-top: 10px;
    font-size: 16px;
    color: #333;
    text-align: center;
}
#input{
    display: flex;
    justify-content: center;
}


.search-container {
    position: relative;
    width: 200px;
}

.search-input {
    width: 200px;
    padding: 10px 20px 10px 40px; /* Espace à gauche pour l'icône */
    border-radius: 25px;
    border: 1px solid #ccc;
    font-size: 16px;
    box-sizing: border-box;
}

.search-input::placeholder {
    color: #aaa;
    font-size: 14px;
}

.search-icon {
    position: absolute;
    left: 10px; /* Positionner l'icône à gauche */
    top: 50%;
    transform: translateY(-50%);
    font-size: 18px;
    color: #aaa;
    pointer-events: none; /* Désactiver l'interaction avec l'icône */
}
#personnalContainer{
    display: flex;
    gap: 20px;
    margin-top: 50px;
}
#card{
    background-color: white;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 20px;
}
#imgPerso{
    width: 150px;
    height: 150px;
    border-radius: 50%;
}


/*@media screen and (min-width:768px) {
    nav{
        display: flex !important;
        justify-content: space-between;
        align-items: center;
        height: 70px;
        width: 100%;
    }
    #mainNav{
        display: flex;
        background-color: transparent;
        width: max-content;
        justify-content: end;
        align-items: center;
        top: 0;
        position: static !important;
    }
    #menuToggle{
        display: none;
    }
}*/